In [1]:
import numpy as np
import pandas as pd

In [2]:
# import data
data = pd.read_csv('Adops & Data Scientist Sample Data - Q1 Analytics.csv')

In [3]:
data

                       ts user_id country_id site_id
0     2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1     2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2     2019-02-01 00:21:50  LC3500        TL6   N0OTG
3     2019-02-01 00:22:50  LC374F        TL6   N0OTG
4     2019-02-01 00:23:44  LCC1C3        TL6   QGO3G
...                   ...     ...        ...     ...
3548  2019-02-07 23:56:57  LC3F13        TL6   QGO3G
3549  2019-02-07 23:58:36  LC3842        HVQ   3POLC
3550  2019-02-07 23:58:56  LC35EB        TL6   QGO3G
3551  2019-02-07 23:59:19  LC3842        HVQ   3POLC
3552  2019-02-07 23:59:37  LC3842        HVQ   3POLC

[3553 rows x 4 columns]

In [4]:
## question1

# select the rows with country_id = "BDV" 
bdv = data[data['country_id'] == 'BDV']
# compute the number of unique user_id's for each site_id
bdv.groupby('site_id').nunique()['user_id']

site_id
3POLC      2
5NPAU    544
N0OTG     90
Name: user_id, dtype: int64

In [5]:
## question2

# select rows between 2019-02-03 00:00:00 and 2019-02-04 23:59:59
time_slot = data[data['ts'] >= '2019-02-03 00:00:00']
time_slot = time_slot[time_slot['ts'] <= '2019-02-04 23:59:59']
# find four users who visited a certain site more than 10 times
ts_times = time_slot.groupby(['user_id', 'site_id']).count().drop('country_id', axis=1) 
ts_times[ts_times['ts'] > 10]

                 ts
user_id site_id
LC06C3  N0OTG    25
LC3A59  N0OTG    26
LC3C7E  3POLC    15
LC3C9D  N0OTG    17

In [6]:
## question3

# get each user last visit timestamp
last_visit = data.groupby('user_id').max()
# select rows contain user last visit information
column_names = ['ts', 'user_id', 'country_id', 'site_id']
df = pd.DataFrame(columns = column_names)
for i in range(len(last_visit)):
    temp = data[data['user_id'] == last_visit.index[i]]
    df = df.append(temp[temp['ts'] == last_visit['ts'].values[i]], ignore_index = True)
# compute the unique number of users whose last visit was to that site
result = df.groupby('site_id').count()
result.sort_values(by='user_id', ascending = False)['user_id']

site_id
5NPAU    992
N0OTG    561
QGO3G    289
GVOFK     42
3POLC     28
RT9Z6      2
EUZ/Q      1
JSUUP      1
Name: user_id, dtype: int64

In [7]:
## question4

# get each user last visit timestamp
last_visit = data.groupby('user_id').max()
# get each user first visit timestamp
first_visit = data.groupby('user_id').min()
# select rows contain user first and last visit information
column_names = ['ts', 'user_id', 'country_id', 'site_id']
df1 = pd.DataFrame(columns = column_names)
df2 = pd.DataFrame(columns = column_names)
for i in range(len(last_visit)):
    temp = data[data['user_id'] == last_visit.index[i]]
    df1 = df1.append(temp[temp['ts'] == last_visit['ts'].values[i]], ignore_index = True)
    temp = data[data['user_id'] == first_visit.index[i]]
    df2 = df2.append(temp[temp['ts'] == first_visit['ts'].values[i]], ignore_index = True)
# merge user first and last wisi information
final_df = pd.concat([df1, df2], axis=1)
final_df.columns = ['ts1', 'user_id1', 'country_id1', 'site_id1', 'ts2', 'user_id2', 'country_id2',
       'site_id2']
# compute the number of users whose first/last visits are to the same website.
same_user = final_df[final_df['user_id1'] == final_df['user_id2']]
same_user[same_user['site_id1'] == same_user['site_id2']].shape[0]

1670